body{
  margin: auto;
  text-align: center;
}

img{
  height: 200px;
  margin: 25px;
}

hr{
  margin: 25px;
}

/* utlity */
.bg_lightgrey{
  background-color: #ededed;
  margin-top: 15px;
  margin-bottom: 15px;
}

.decoration_img{
  background-color: #428bca;
  border-radius: 999px;
  padding: 10px;
}
/* utlity */

@media all and (max-width: 768px) {

  img{
    height: 100px;
  }

  p{
    padding: 10px;
  }
}
